body {
  background-color: #232323;
}

.searchResultContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.searchResultHeader {
  display: flex;
  flex-direction: row;
}

.searchResultHeader h4 {
  color: white;
}

.searchResultBack {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.searchResultBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.searchResultIcon {
  opacity: 38%;
  margin-top: 10px;
}

.searchResultTable {
  border-collapse: collapse;
  width: 95%;
  margin: 70px auto;
}
.searchResultTable tr {
  margin-bottom: 50px !important;
}

.searchResultHeadings {
  background-color: #161616;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 10px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .searchResultTable {
    width: 95% !important;
    margin: auto !important;
  }
}

@media screen and (max-width: 480px) {
  .searchResultTable {
    width: 98% !important;
    margin: auto !important;
  }
  .searchResultHeadings {
    font-size: 10px;
  }
}
