.tagButton {
  border: none;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  margin: 5px;
  background-color: #2e2e2e;
}

.tagButtonAfter {
  border: none;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  margin: 5px;
  background-color: green;
  color: white;
}
