body {
  background-color: #232323;
}

.confirmContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.confirmHeader {
  display: flex;
  flex-direction: row;
}

.confirmHeader h1 {
  color: white;
  margin-left: 20px;
}

.confirmHeader h4 {
  color: white;
  margin-top: -20px;
}
.confirmBack {
  text-align: center;
  margin: 10px;
  width: 100px;
  height: 80px;
  background-color: #d0021b;
  cursor: pointer;
}

.confirmBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.confirmIcon {
  opacity: 38%;
  margin-top: 10px;
}

.confirmBody {
  margin-left: 140px;
}
.confirmBody h3 {
  color: white;
}

.confirmLogo {
  width: 150px;
  margin-top: -15px;
  align-self: center;
}

.confirmBody h4 {
  color: #979797;
  margin-bottom: 0px;
}

.confirmInfo {
  color: white;
  font-size: 20px;
}

.confirmBody span {
  color: #979797;
  font-size: 10px;
  line-height: 1px !important;
}

/* footer */

.confirmfooter {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-bottom: 90px;
}

.confirmHome {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.confirmHome h2 {
  color: white;
  margin-top: 0px;
  font-size: 20px;
}

/* resposive */

@media screen and (max-width: 1024px) {
  .confirmBody {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .confirmBody {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 480px) {
  .confirmBody {
    margin-left: 20px !important;
  }
}
