body {
  background-color: #232323;
}

.searchContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.searchHeader {
  display: flex;
  flex-direction: row;
}

.searchHeader h1 {
  color: white;
  margin-left: 20px;
}

.searchBack {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.searchBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.searchIcon {
  opacity: 38%;
  margin-top: 10px;
}

/* search Body */

.searchBody {
  margin-left: 140px;
  margin-top: 80px;
}

.searchBody input {
  padding: 15px;
  width: 400px;
}

/* buttons */
.searchButtons {
  flex-direction: row;
  margin-top: 20px;
}

/* footer */

.searchfooter {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 90px;
  margin-top: 30px;
  margin-right: 50px;
  float: right;
}

.searchHome {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.searchHome h2 {
  color: white;
  margin-top: 0px;
  font-size: 20px;
}

/* resposive */

@media screen and (max-width: 1024px) {
  .searchBody {
    margin-left: 10px !important;
    margin-top: 40px !important;
  }
  .searchBody input {
    width: 90% !important;
  }
  .searchButtons {
    display: flex !important;
    flex-direction: row !important;
    align-self: center !important;
  }
  .searchfooter {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .searchBody {
    align-self: center !important;
    margin-top: 40px !important;
  }
  .searchBody input {
    width: 98% !important;
  }
  .searchButtons {
    width: 98% !important;
  }
  .searchfooter {
    float: right;
  }
}

@media screen and (max-width: 480px) {
  .searchBody {
    align-self: center !important;
    margin-top: 40px !important;
  }
  .searchBody input {
    width: 98% !important;
  }
  .searchButtons {
    width: 98% !important;
  }
  .searchfooter {
    float: right;
  }
}
