.listData {
  width: 15%;
  text-align: center;
  cursor: pointer;
}
.listData td {
  padding-top: 3%;
  padding-bottom: 1%;
}

.listInfo {
  color: white;
  font-size: 1rem;
}

.listBadge {
  padding: 4px;
  background-color: green;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 480px) {
  .team {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }
  .listBadge {
    font-size: 10px;
    color: white;
    font-size: 10px;
  }
}
