.reviewContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
}

.reviewHeader h1 {
  color: white;
  margin-left: 20px;
}

.reviewHeader h4 {
  color: white;
  margin-top: -20px;
}
.reviewBack {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.reviewBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.reviewIcon {
  opacity: 38%;
  margin-top: 10px;
}

.reviewHeadings {
  background-color: #161616;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 10px;
}

._section_three {
  color: white;
  margin-top: 30px;
}
._section_three p {
  font-size: 10px;
  margin: 0px;
  text-align: justify;
}
._price {
  font-size: 20px;
  font-weight: bold;
  padding-left: 12px;
  color: white;
}

.reviewTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
}

/* footer */

.reviewfooter {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-bottom: 90px;
  float: right;
}

.reviewHome {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.reviewHome h2 {
  color: white;
  margin-top: 0px;
  font-size: 20px;
}

._mainDiv {
  margin: auto;
  margin-top: 60px;
}

/* Responsive */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .reviewTable {
    width: 98% !important;
    margin: auto !important;
  }
  .reviewHeadings {
    font-size: 10px;
  }
  ._section_three {
    width: 90%;
    margin: auto;
  }
  .reviewfooter {
    float: right;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .reviewTable {
    width: 98% !important;
    margin: auto !important;
  }
  .reviewHeadings {
    font-size: 10px;
  }
  ._section_three {
    width: 90%;
    margin: auto;
  }
  .reviewfooter {
    float: right;
    margin-top: 30px;
  }
}
