body {
  background-color: #232323;
}

.browseTwoContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.browseTwoHeader {
  display: flex;
  flex-direction: row;
}

.browseTwoHeader h4 {
  color: white;
}

.browseTwoBack {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.browseTwoBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.browseTwoIcon {
  opacity: 38%;
  margin-top: 10px;
}

.browseTwoTable {
  border-collapse: collapse;
  width: 95%;
  margin: 70px auto;
}
.browseTwoTable tr {
  margin-bottom: 50px !important;
}

.browseTwoHeadings {
  background-color: #161616;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 10px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .browseTwoTable {
    width: 95% !important;
    margin: auto !important;
  }
}

@media screen and (max-width: 480px) {
  .browseTwoTable {
    width: 98% !important;
    margin: auto !important;
  }
  .browseTwoHeadings {
    font-size: 10px;
  }
}
