body {
  background-color: #232323;
}

.browseOneContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.browseOneLogo {
  width: 150px;
  margin-top: 20px;
  align-self: center;
}

.browseOneCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 30px;
}

.browseOneItem {
  width: 340px;
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  cursor: pointer;
}
.browseOneIcon {
  opacity: 38%;
  margin-top: 20px;
}

.browseOneItem h1 {
  font-size: 20px;
  color: white;
  font-weight: 800;
}

/* resposive */

@media screen and (max-width: 1024px) {
  .browseOneLogo {
    margin-top: 10px !important;
  }
  .browseOneCards {
    margin: 30px 20px 0px 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .browseOneLogo {
    margin-top: 10px !important;
  }
  .browseOneCards {
    margin: 30px 20px 0px 20px !important;
  }
}

@media screen and (max-width: 480px) {
  .browseOneLogo {
    margin-top: 10px !important;
  }
  .browseOneCards {
    margin: 30px 20px 0px 20px !important;
  }
}
