._container {
  background-color: rgb(35, 35, 35);
  height: 650px;
}
._header {
  display: flex;
  align-items: center;
  margin: 20px;
}
._header div {
  color: white;
  font-weight: bold;
}
._heading {
  font-size: 2vw;
}
._title {
  font-size: 0.9rem !important;
}
.div_1 {
  flex: 1;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.div_2 {
  flex: 10;
  flex-direction: column;
}
.div_3 {
  flex: 1;
  text-align: right !important;
}
.div_3 span {
  font-size: bold !important;
  font-size: 25px !important;
}

._back_btn {
  background-color: #d0021b;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
}
._back_btn h4 {
  color: white;
  margin-top: 8px;
}

._orderBtn {
  background-color: #d0021b;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 12px;
  width: 140px;
  height: 100px;
  float: right;
}

._orderBtn span {
  color: white;
  font-size: 20px;
}
._discription {
  width: 60%;
  margin: auto;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 35px;
}
._title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold !important;
}

.badges {
  padding: 4px;
  background-color: green;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

._mainDiv {
  width: 90%;
  margin: auto;
}
._footerSection {
  display: flex;
  color: white;
  margin-top: 30px;
}
._footerSection div {
  color: white;
}
.div_a {
  flex: 2;
  flex-direction: column;
}
.div_b {
  flex: 1;
  padding: 10px;
}
._one {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: flex-end;
}
._three {
  padding-top: 25px !important;
}
._title_heading {
  background-color: green;
  padding: 6px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}
.detailsTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
}

.detailsHeadings {
  background-color: #161616;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 5px;
}

/* Responsive */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  ._header {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .detailsTable {
    width: 98% !important;
    margin: auto !important;
  }
  .detailsHeadings {
    font-size: 10px;
  }
  ._mainDiv {
    width: 98%;
    margin-top: 30px;
  }
  ._discription {
    font-size: 14px;
    text-align: justify;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  ._header {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .detailsTable {
    width: 98% !important;
    margin: auto !important;
  }
  .detailsHeadings {
    font-size: 10px;
  }
  ._mainDiv {
    width: 98%;
    margin-top: 30px;
  }
  ._discription {
    font-size: 14px;
    text-align: justify;
    width: 90%;
  }
}
