body {
  background-color: #232323;
}

.homeContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.homeLogo {
  width: 150px;
  margin-top: 20px !important;
  align-self: center;
}

.homeCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.homeItem {
  width: 340px;
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  cursor: pointer;
}
.homeIcon {
  opacity: 38%;
  margin-top: 20px;
}

.homeItem h1 {
  font-size: 40px;
  color: white;
  font-weight: 800;
}

/* resposive */

@media screen and (max-width: 1024px) {
  .homeLogo {
    margin-top: 10px !important;
  }
  .homeCards {
    margin: 30px 20px 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .homeLogo {
    margin-top: 10px !important;
  }
  .homeCards {
    margin: 30px 20px 0px 20px;
  }
}

@media screen and (max-width: 480px) {
  .homeLogo {
    margin-top: 10px !important;
  }
  .homeCards {
    margin: 30px 20px 0px 20px;
  }
}
