.orderContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.orderHeader {
  display: flex;
  flex-direction: row;
}

.orderHeader h1 {
  color: white;
  margin-left: 20px;
}

.orderHeader h4 {
  color: white;
  margin-top: -20px;
}
.orderBack {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.orderBack h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}

.orderIcon {
  opacity: 38%;
  margin-top: 10px;
}

.orderTable {
  border-collapse: collapse;
  width: 95%;
  margin: 70px auto;
}

.orderHeadings {
  background-color: #161616;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 10px;
}

._tab {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.orderBtn {
  border: none;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: #2e2e2e;
}
._input {
  width: 70%;
  font-size: 16px;
  font-style: italic;
  padding: 10px;
  margin-bottom: 10px;
}
.orderBtnPayment {
  border: none;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: #2e2e2e;
}

.orderBtnAfter {
  border: none;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: green;
  color: white;
}

.orderBtnPaymentAfter {
  border: none;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: green;
  color: white;
}

._section_three {
  color: white;
  margin-top: 30px;
}
._section_three p {
  font-size: 10px;
  margin: 0px;
  text-align: justify;
}
._price {
  font-size: 20px;
  font-weight: bold;
  padding-left: 12px;
  color: white;
}

/* footer */

.orderfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 90px;
}

.orderHome {
  text-align: center;
  background-color: #d0021b;
  margin: 10px;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.orderHome h2 {
  color: white;
  margin-top: 0px;
  font-size: 20px;
}

._mainDiv {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  ._mainDiv {
    width: 95%;
    margin: auto;
    margin-top: 60px;
  }
  .orderTable {
    width: 95% !important;
    margin: auto !important;
  }
  .orderHeadings {
    font-size: 10px;
  }
  ._input {
    width: 90%;
  }
  ._section_three {
    width: 100%;
  }
  ._section_three p {
    width: 98%;
  }
}

@media screen and (max-width: 480px) {
  ._mainDiv {
    width: 95%;
    margin: auto;
    margin-top: 60px;
  }
  .orderTable {
    width: 98% !important;
    margin: auto !important;
  }
  .orderHeadings {
    font-size: 10px;
  }
  ._input {
    width: 90%;
  }
  ._section_three {
    width: 100%;
  }
  ._section_three p {
    width: 98%;
  }
}
